@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body {
        @apply w-full h-full;
    }

    body {
        @apply min-h-full bg-gray-900;
    }

    a,
    a:visited {
        @apply text-blue-600;
    }

    a:hover {
        @apply text-red-700;
    }

}

@layer components {
    /* .card {
        background-color: theme('colors.white');
        border-radius: theme('borderRadius.lg');
        padding: theme('spacing.6');
        box-shadow: theme('boxShadow.xl');
    } */

    .nav-item {
        @apply p-3 bg-slate-400;
    }

}